.facebook_icon, .twitter_icon, .google_icon, .email_icon, .edit_icon, .Calendar_icon, .flag_icon{
	background: url(sprites.png) no-repeat;
}

.facebook_icon{
	background-position: 0 0;
	width: 49px;
	height: 49px;
}

.twitter_icon{
	background-position: -49px 0;
	width: 49px;
	height: 49px;
}

.google_icon{
	background-position: -98px 0;
	width: 49px;
	height: 49px;
}

.email_icon{
	background-position: -147px 0;
	width: 49px;
	height: 49px;
}

.edit_icon{
	background-position: -200px 0;
	width: 37px;
	height: 37px;
}

.Calendar_icon{
	background-position: -250px 0;
	width: 63px;
	height: 74px;
}

.flag_icon{
	background-position: -325px 0;
	width: 11px;
	height: 15px;
}

